$font-stack:    sans-serif;

//color
$primary-color: rgb(25, 118, 210);
$light-color: rgb(255, 255, 255);
$success-color: #4caf50;
$green-color: #04AA6D;
$muted-color: #6c757d;
$soft-white: #F9F9F9;
$danger-color: #dc3545;